services:
  react:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./app:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true